## Data Encoding

1. Nomimal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding

One Hot Encoding is a technique used to represent categorical data as a numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corressponds to a unique category.

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Sparse Matrix --->

In [4]:
## Creating a DataFrame
df = pd.DataFrame({
    'color' : ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [5]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [6]:
## Create an Instance of OneHotEncoder
ohe = OneHotEncoder()

In [8]:
## Performing Fit and Transform
df_ohe = ohe.fit_transform(df[['color']]).toarray()

In [11]:
df_new = pd.DataFrame(df_ohe, columns= ohe.get_feature_names_out())

In [12]:
df_new

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [14]:
pd.concat([df, df_new], axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [15]:
import seaborn as sns

In [16]:
df = sns.load_dataset('tips')