In [ ]:
import pandas as pd

# Pandas question set (50) — dataset: `titanic - titanic.csv`

This notebook contains **50 pandas-focused questions** (basic → intermediate → advanced) that reference columns in the Titanic dataset (`PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked`).

For each question there is an empty cell where you can implement the solution (or use the cell below to run exploratory code).

**How to use**
- Run the first cell to load the dataset (`DATA_PATH` is set to the uploaded file).
- Work through each question in order. Code cells are provided after each question for your answers.

**Question:** 1. Read the CSV into a DataFrame and display the first 5 rows.

In [ ]:
# Write your solution here

**Question:** 2. Show the number of rows and columns in the DataFrame.

In [ ]:
# Write your solution here

**Question:** 3. Display the data types of all columns and the total memory usage.

In [ ]:
# Write your solution here

**Question:** 4. Show basic summary statistics (count, mean, std, min, 25%, 50%, 75%, max) for numerical columns.

In [ ]:
# Write your solution here

**Question:** 5. Use `info()` to list non-null counts per column — which columns contain missing values?

In [ ]:
# Write your solution here

**Question:** 6. Select only the `Name`, `Sex`, `Age` and `Fare` columns into a new DataFrame.

In [ ]:
# Write your solution here

**Question:** 7. Filter the DataFrame to show only female passengers.

In [ ]:
# Write your solution here

**Question:** 8. Filter to passengers who survived (`Survived == 1`) and display the first 10.

In [ ]:
# Write your solution here

**Question:** 9. Get the unique values and counts for the `Embarked` column (use `value_counts`).

In [ ]:
# Write your solution here

**Question:** 10. Sort the DataFrame by `Fare` descending and show the top 5 fare-paying passengers.

In [ ]:
# Write your solution here

**Question:** 11. Rename the `Pclass` column to `PassengerClass`.

In [ ]:
# Write your solution here

**Question:** 12. Create a boolean mask for passengers older than 60 and count how many match it.

In [ ]:
# Write your solution here

**Question:** 13. Drop the `Ticket` column from the DataFrame (inplace or by assignment).

In [ ]:
# Write your solution here

**Question:** 14. Convert the `Sex` column to lowercase strings (if not already) using vectorized string ops.

In [ ]:
# Write your solution here

**Question:** 15. Save a subset (e.g., only `PassengerId`, `Name`, `Survived`) to a new CSV file.

In [ ]:
# Write your solution here

**Question:** 16. Count survivors and non-survivors by `Pclass` using `groupby` + `size` or `value_counts`.

In [ ]:
# Write your solution here

**Question:** 17. Compute average `Age` for survivors vs non-survivors.

In [ ]:
# Write your solution here

**Question:** 18. Create a new column `FamilySize = SibSp + Parch + 1` and show its distribution.

In [ ]:
# Write your solution here

**Question:** 19. Fill missing `Age` values with the median age. Implement both `fillna` and `transform` solutions.

In [ ]:
# Write your solution here

**Question:** 20. Extract the passenger title (Mr, Mrs, Miss, etc.) from the `Name` column using string methods or regex and show counts per title.

In [ ]:
# Write your solution here

**Question:** 21. Create age bins (0–12 child, 13–19 teen, 20–35 young adult, 36–60 adult, 61+ senior) and compute survival rate per bin.

In [ ]:
# Write your solution here

**Question:** 22. One-hot encode the `Embarked` column (create dummy variables).

In [ ]:
# Write your solution here

**Question:** 23. Convert `Sex` to a numeric column (`male` = 0, `female` = 1) using `map` or `replace`.

In [ ]:
# Write your solution here

**Question:** 24. Use `.query()` to find passengers in 1st class with `Fare` > 100.

In [ ]:
# Write your solution here

**Question:** 25. Use `pivot_table` to compute mean `Fare` for each combination of `Pclass` and `Sex`.

In [ ]:
# Write your solution here

**Question:** 26. Group by `PassengerClass` and calculate multiple aggregations: count of passengers, mean fare, median age. Use named aggregations.

In [ ]:
# Write your solution here

**Question:** 27. Identify passengers with duplicate `Ticket` values (suggesting shared tickets) and list tickets with the highest counts.

In [ ]:
# Write your solution here

**Question:** 28. Using `str` methods, find how many `Cabin` entries start with the letter 'C'.

In [ ]:
# Write your solution here

**Question:** 29. Create a column `IsAlone` that is `True` if `FamilySize == 1` else `False`, and compare survival rate of alone vs not-alone passengers.

In [ ]:
# Write your solution here

**Question:** 30. Replace the missing `Embarked` entries with the mode of that column.

In [ ]:
# Write your solution here

**Question:** 31. Use `nlargest`/`nsmallest` to find the top 3 and bottom 3 passengers by `Fare`.

In [ ]:
# Write your solution here

**Question:** 32. Create a cross-tab (contingency table) of `Pclass` vs `Survived` (counts and normalized percentages).

In [ ]:
# Write your solution here

**Question:** 33. Use `astype('category')` on `Pclass`, `Sex`, and `Embarked` — show how memory usage changes.

In [ ]:
# Write your solution here

**Question:** 34. Create a new column `FarePerPerson = Fare / FamilySize` and display summary stats.

In [ ]:
# Write your solution here

**Question:** 35. Use `sample()` to return a reproducible random sample of 10 rows.

In [ ]:
# Write your solution here

**Question:** 36. Using `groupby` + `transform`, impute missing `Age` values by the median age of passengers with the same title (extracted from `Name`).

In [ ]:
# Write your solution here

**Question:** 37. For the `Cabin` column that may contain multiple cabin numbers like 'C123 C125', split on whitespace and use `.explode()` to create a row per cabin — then compute the most common deck letter (first char).

In [ ]:
# Write your solution here

**Question:** 38. Build a method-chaining pipeline (no intermediate variables) that: drops `Ticket`, fills `Embarked` mode, encodes `Sex`, creates `FamilySize`, bins `Age`, and returns the top 5 rows. Use `assign`, `pipe`, and chained ops.

In [ ]:
# Write your solution here

**Question:** 39. Create a pivot table with multi-index rows (e.g., `Pclass`, `Sex`) and columns `Survived` showing counts and normalize across rows.

In [ ]:
# Write your solution here

**Question:** 40. Use `apply` with a custom function to compute a `TitleRiskScore` from title (e.g., map rare titles to higher risk) — show when `apply` is appropriate vs vectorized `map`.

In [ ]:
# Write your solution here

**Question:** 41. Compute the correlation matrix for numeric features (`Age`, `Fare`, `SibSp`, `Parch`, `FamilySize`) and identify the strongest positive and negative correlations with `Survived`.

In [ ]:
# Write your solution here

**Question:** 42. Demonstrate using `.agg()` with different aggregation functions per column plus a custom lambda (e.g., `{'Fare':['mean','max'], 'Age': lambda s: s.isna().mean()}`) and explain the output shape.

In [ ]:
# Write your solution here

**Question:** 43. Create a rolling window aggregate (e.g., rolling mean of Fare) after sorting by `Fare` — explain why ordering matters and show the result for window=5.

In [ ]:
# Write your solution here

**Question:** 44. Using `pd.cut`, create quantile-based bins for `Fare` (quartiles) and compute survival rate per fare-quantile.

In [ ]:
# Write your solution here

**Question:** 45. Convert the DataFrame to a long format with `melt` for columns `SibSp` and `Parch`, then pivot back — explain when melt/pivot are useful.

In [ ]:
# Write your solution here

**Question:** 46. Use `merge` to join this dataset with a synthetic DataFrame containing `PassengerId` → `CustomLabel` (show left, right, inner joins and effect on row counts).

In [ ]:
# Write your solution here

**Question:** 47. Optimize the DataFrame for memory and speed: cast appropriate columns to `category`, downcast numeric dtypes, and report memory usage before and after.

In [ ]:
# Write your solution here

**Question:** 48. Use `df.eval()` and `df.query()` to create `IsSenior = Age >= 61` and then filter rows using a single `query` string that references this new variable (show how `eval` can speed up complex expressions).

In [ ]:
# Write your solution here

**Question:** 49. Create a reproducible scikit-learn pipeline-ready feature DataFrame: select numeric features, impute missing values, one-hot encode categoricals, and output `X` ready for model training — implement using pandas only (show final shape and column names).

In [ ]:
# Write your solution here

**Question:** 50. Write a function that accepts the filename (path), reads the CSV with explicit `dtype` hints and `usecols`, handles missing values, and returns a cleaned DataFrame — show how to unit test this function using a small hard-coded sample `pd.DataFrame`.

In [ ]:
# Write your solution here